<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      @ViewData["Title"] - Department of Computer Science | University of Ibadan
    </title>
    <link rel="icon" type="image/x-icon" href="~/school.ico" />

    @* SEO *@
    <meta
      name="description"
      content="Department of Computer Science, University of Ibadan"
    />
    <meta
      name="author"
      content="Department of Computer Science, University of Ibadan"
    />
    <meta
      name="keywords"
      content="Department of Computer Science, University of Ibadan"
    />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="google" content="notranslate" />

    @* tailwind cdn *@
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
    />

    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

    @* font awesome *@
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    @* import javascript using defer *@
    <script src="~/js/index.js" asp-append-version="true" defer></script>
  </head>

  <body class="text-sm lg:text-base">
    <!-- loader -->
    <div class="loader_container loading" id="loader">
      <div class="loader"></div>
    </div>

    <nav class="px-5 sm:px-10 md:px-20" id="navbar">
      <div class="flex justify-between items-center py-7 nav_content">
        <button
          class="logo"
          onclick="
        window.scroll({
          top: 0,
          left: 0,
          behavior: 'smooth'
        })
        "
        >
          <img
            src="~/images/logo-light.png"
            alt="Department of Computer Science, University of Ibadan"
            id="logo"
          />
        </button>

        <ul
          class="hidden sm:flex gap-4 md:gap-5 lg:gap-8 items-center font-semibold"
        >
          <li class="nav-item">
            <a asp-area="" asp-controller="Home" asp-action="Index"> Home </a>
          </li>
          <li class="nav-item">
            <a asp-area="" asp-controller="Curriculum" asp-action="Index">
              Curriculum
            </a>
          </li>
          <li class="nav-item">
            <a asp-area="" asp-controller="Programs" asp-action="Index">
              Programs
            </a>
          </li>
          <li class="nav-item">
            <a asp-area="" asp-controller="StdAssociation" asp-action="Index">
              Nacos UI
            </a>
          </li>
        </ul>

        <div class="block sm:hidden text-white">
          <button
            class="flex items-center px-3 py-2 text-white hover:text-white"
          >
            <svg
              class="fill-current h-4 w-4"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>
        </div>
      </div>
    </nav>
    <div>
      <main>@RenderBody()</main>
    </div>

    <footer>
      <div
        class="site_footer pt-24 px-5 sm:px-10 md:px-20 grid md:grid-cols-3 gap-x-5 gap-y-10 text-sm pt-32 pb-40"
      >
        <div class="space-y-10">
          <img
            src="~/images/logo-light.png"
            alt="Department of Computer Science, University of Ibadan"
            class="logo"
          />

          <p class="capitalize">
            Computer Science Building <br />
            Oduduwa Road, 200132 <br />
            Ibadan, Oyo <br />
            Main: +2348.0357.94630 <br />
            <span class="lowercase break-all">
              mediaresources@mail.ui.edu.ng.
            </span>
          </p>

          <small class="block">
            &copy; 2023 Department of Computer Science, <br />
            University of Ibadan
          </small>
        </div>

        <div class="flex justify-between gap-x-2 gap-y-8">
          <ul class="space-y-8 font-bold">
            <li>
              <a
                href="javascript:void(0)"
                onclick=" window.scrollTo({
                top: document.getElementById('preamble').offsetTop - 120,
                behavior: 'smooth',
              });"
              >
                About</a
              >
            </li>
            <li>
              <a asp-area="" asp-controller="Curriculum" asp-action="Index">
                Curriculum
              </a>
            </li>
            <li><a href="">News & Events</a></li>
            <li>
              <a asp-area="" asp-controller="Programs" asp-action="Index">
                Programs
              </a>
            </li>
            <li>
              <a asp-area="" asp-controller="StdAssociation" asp-action="Index">
                Student Association
              </a>
            </li>
          </ul>

          <ul class="space-y-8 font-medium">
            <li><a href="">Intranet</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Research</a></li>
            <li><a href="">Accessibility</a></li>
            <li><a href="">Non-Discrimination Statement</a></li>
          </ul>
        </div>

        <div class="space-y-10">
          <div>
            <h2 class="text-2xl font-medium second_font mb-3 text-white">
              Core Values
            </h2>

            <p>
              Diversity, equity, and inclusion are core values of the University
              of Ibadan's Computer Science Department. We are committed to
              providing a welcoming and inclusive environment for all members of
              our community, regardless of race, ethnicity, gender identity,
              sexual orientation, religion, or socioeconomic background. We
              believe that a diverse community fosters innovation, creativity,
              and excellence in teaching, research, and service.
            </p>
          </div>

          <div>
            <h2 class="text-lg font-bold mb-3 text-white">Follow Us</h2>

            <ul class="text-xl flex gap-5">
              <!-- social media -->
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>
