<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      @ViewData["Title"] - Department of Computer Science | University of Ibadan
    </title>
    <link rel="icon" type="image/x-icon" href="~/school.ico" />

    @* SEO *@
    <meta
      name="description"
      content="Department of Computer Science, University of Ibadan"
    />
    <meta
      name="author"
      content="Department of Computer Science, University of Ibadan"
    />
    <meta
      name="keywords"
      content="Department of Computer Science, University of Ibadan"
    />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="google" content="notranslate" />

    @* tailwind cdn *@
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
    />

    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

    @* font awesome *@
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    @* import javascript using defer *@
    <script src="~/js/index.js" asp-append-version="true" defer></script>
  </head>

  <body class="text-sm lg:text-base">
    <!-- loader -->
    <!-- <div class="loader_container loading" id="loader">
      <div class="loader"></div>
    </div> -->

    <nav class="px-5 sm:px-10 md:px-20" id="navbar">
      <div class="flex justify-between items-center py-7 nav_content">
        <button class="logo">
          <img
            src="~/images/logo-light.png"
            alt="Department of Computer Science, University of Ibadan"
            id="logo"
          />
        </button>

        <ul
          class="hidden sm:flex gap-4 md:gap-5 lg:gap-8 items-center font-semibold"
        >
          <li class="nav-item">
            <a asp-area="" asp-controller="Home" asp-action="Index"> Home </a>
          </li>
          <li class="nav-item">
            <a asp-area="" asp-controller="Curriculum" asp-action="Index">
              Curriculum
            </a>
          </li>
          <li class="nav-item">
            <a asp-area="" asp-controller="Programs" asp-action="Index">
              Programs
            </a>
          </li>
          <li class="nav-item">
            <a asp-area="" asp-controller="StdAssociation" asp-action="Index">
              Nacos UI
            </a>
          </li>
        </ul>

        <div class="block sm:hidden text-white">
          <button
            class="flex items-center px-3 py-2 text-white hover:text-white"
          >
            <svg
              class="fill-current h-4 w-4"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>
        </div>
      </div>
    </nav>
    <div>
      <main>@RenderBody()</main>
    </div>

    <footer>
      <div
        class="site_footer pt-24 px-5 sm:px-10 md:px-20 grid grid-cols-3 gap-5"
      >
        <div>
          <img
            src="~/images/logo-light.png"
            alt="Department of Computer Science, University of Ibadan"
          />
        </div>

        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nulla
          eaque eligendi voluptas perspiciatis! Quisquam asperiores similique
          qui incidunt vero quasi, quas eius est. Quas, eum excepturi. Saepe,
          dolores dicta.
        </div>

        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nulla
          eaque eligendi voluptas perspiciatis! Quisquam asperiores similique
          qui incidunt vero quasi, quas eius est. Quas, eum excepturi. Saepe,
          dolores dicta.
        </div>
      </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>
