<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Department of Computer Science | University of Ibadan</title>
    <link rel="icon" type="image/x-icon" href="~/school.ico" />


    @* SEO *@
    <meta name="description" content="Department of Computer Science, University of Ibadan" />
    <meta name="author" content="Department of Computer Science, University of Ibadan" />
    <meta name="keywords" content="Department of Computer Science, University of Ibadan" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="google" content="notranslate" />


    @* tailwind css cdn *@
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

</head>

<body class="text-xs md:text-sm lg:text-base font-light">
    <header>
        <nav>
            <div class="mx-auto">
                <ul class="flex gap-3 items-center justify-center">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Try">Try</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        This is the footer
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
