@{
    ViewData["Title"] = "Nacos UI";
}

<div class="text-justify">
    <h1 class="display-4 text-red-500">Welcome to the student association page</h1>
    <p>This is the student association page.</p>
</div>
