@{ ViewData["Title"] = "Nacos UI"; }

<header
  class="hero header_with_info stdassociation flex text-white px-5 sm:px-10 md:px-20 relative"
>
  <div
    class="absolute section_cut hero_intro md:mt-80 second_font text-3xl md:text-4xl lg:text-6xl break-all"
  >
    <span class="block article_title font-semibold mb-1"
      >Student Association</span
    >

    <h2 class="text-2xl md:text-3xl lg:text-4xl font-medium second_font">
      Nigeria Association of Computing Students (NACOS)
    </h2>

    <p class="mt-3">
      The Nigerian Association of Computing Students (NACOS) is a prominent
      student organization that represents students studying various IT-related
      courses in tertiary institutions across Nigeria. With over 350,000 members
      and 250 local chapters, NACOS is the largest and most organized student
      body in Africa. The association has been in existence for over two decades
      and has a presence in almost all tertiary institutions in Nigeria,
      including privately owned ones.
    </p>
  </div>
</header>

<section
  class="px-5 sm:px-10 md:px-20 xl:px-40 grid md:grid-cols-2 md:items-center gap-y-10 py-16 preamble"
>
  <div class="md:order-2 hidden md:block">
    <img
      src="https://nacos.org.ng/img/about.jpg"
      width="100%"
      alt="Nacos logo"
    />
  </div>

  <div>
    <h2 class="text-2xl md:text-4xl font-medium second_font text_dark mb-4">
      NACOS Unibadan, Who we are.
    </h2>

    <p class="mb-3">
      Welcome to the webpage of the Nigerian Association of Computer Science
      Students (NACOSS) at the University of Ibadan! As the largest and most
      vibrant student association on campus, we are committed to promoting
      excellence and innovation in computer science education and research. Our
      organization provides a platform for students to develop their skills,
      network with peers and professionals, and engage in community outreach
      programs that use technology to solve real-world problems.
    </p>

    <p class="mb-5">
      We offer a range of activities and events, from hackathons and coding
      competitions to industry visits and guest lectures by experts in the
      field. Whether you are a current student, a prospective member, or just
      interested in the field of computer science, we invite you to explore our
      website and learn more about what we have to offer.
    </p>

    <!-- small square with tailwind-->
    <div class="squares flex gap-3 items-center">
      <div class="h-4 w-4"></div>
      <div class="h-4 w-4"></div>
      <div class="h-4 w-4"></div>
    </div>
  </div>
</section>
