@{ ViewData["Title"] = "Home"; } @* hero section *@
<header class="hero home flex justify-center text-white px-5 sm:px-10 md:px-20">
  <div class="mt-32 md:mt-56 text-center">
    <h1
      class="capitalize text-2xl sm:text-3xl md:text-4xl lg:text-6xl font-medium second_font text-white"
    >
      <p>Welcome to the department</p>
      <p class="mt-1 md:mt-3">of Computer Science</p>
    </h1>

    @* dynamic texts *@
    <div class="mt-2 md:mt-5 flex justify-center">
      <div>
        <span
          class="dynamic_texts text-sm sm:text-base md:text-lg lg:text-xl"
        ></span>
        <div class="typing_cursor"></div>
      </div>
    </div>

    @* buttons *@
    <div class="mt-5 md:mt-10 flex items-center justify-center gap-3">
      <button href="" class="main_btn filled" id="learnMore">Learn more</button>
      <a
        asp-area=""
        asp-controller="Programs"
        asp-action="Index"
        class="main_btn transparent"
      >
        View Programs
      </a>
    </div>
  </div>
</header>

<!-- gold section -->
<section class="px-5 sm:px-10 md:px-20">
  <div
    class="mt-5 section_cut max-w-6xl mx-auto p-8 flex flex-col md:flex-row items-start md:items-center gap-5"
  >
    <h2 class="font-bold text-xl md:text-2xl mr-5 capitalize">
      Innovative
      <br class="hidden md:block" />
      learners
    </h2>

    <p class="flex-1">
      Are you interested in pursuing a career in computer science? Our BSc
      program provides a comprehensive education in this exciting and rapidly
      evolving field
    </p>

    <a
      class="link_btn link"
      asp-area=""
      asp-controller="Programs"
      asp-action="Index"
    >
      <span> Our Programs </span>
      <svg
        class="button-arrow"
        width="14"
        height="10"
        viewBox="0 0 10 10"
        aria-hidden="true"
      >
        <g>
          <path class="button-arrow__line" d="M0 5h12"></path>
          <path class="button-arrow__tip" d="M1 1l4 4-4 4"></path>
        </g>
      </svg>
    </a>
  </div>
</section>

<!-- preamble  -->
<section
  class="px-5 sm:px-10 md:px-20 xl:px-40 my-20 second_bg_color grid md:grid-cols-2 gap-y-10 py-16 preamble"
  id="preamble"
>
  <div>
    <img src="~/images/students.jpg" width="100%" alt="students" />
  </div>
  <div class="space-y-4">
    <h2 class="text-2xl md:text-4xl font-medium second_font text_dark">
      Welcome to UI Computer Science.
    </h2>
    <p>
      The University of Ibadan is a premier institution for computer science
      education. Here, students and faculty can explore the latest developments
      in the field, from theory to practical applications. They can work at the
      intersection of computer science and other disciplines, including the
      social and physical sciences, policy, business, and biomedicine, benefit
      from the diverse and vibrant city of Ibadan, and make an immediate impact,
      both locally and globally.
    </p>
    <div>
      <a href="" class="link block">
        <span> An Expanding, Award-Winning CS Faculty </span>
        <svg
          class="button-arrow"
          width="14"
          height="10"
          viewBox="0 0 10 10"
          aria-hidden="true"
        >
          <g>
            <path class="button-arrow__line" d="M0 5h12"></path>
            <path class="button-arrow__tip" d="M1 1l4 4-4 4"></path>
          </g>
        </svg>
      </a>

      <a href="" class="link block">
        <span> Engaging Learning Experience </span>
        <svg
          class="button-arrow"
          width="14"
          height="10"
          viewBox="0 0 10 10"
          aria-hidden="true"
        >
          <g>
            <path class="button-arrow__line" d="M0 5h12"></path>
            <path class="button-arrow__tip" d="M1 1l4 4-4 4"></path>
          </g>
        </svg>
      </a>

      <a href="" class="link block">
        <span> State-of-the-Art Facilities and Resources </span>
        <svg
          class="button-arrow"
          width="14"
          height="10"
          viewBox="0 0 10 10"
          aria-hidden="true"
        >
          <g>
            <path class="button-arrow__line" d="M0 5h12"></path>
            <path class="button-arrow__tip" d="M1 1l4 4-4 4"></path>
          </g>
        </svg>
      </a>
    </div>
  </div>
</section>

<!-- Featured news -->
<ul class="news_section px-5 sm:px-10 md:px-20 xl:px-40 my-20">
  <li>
    <h2 class="text-2xl md:text-4xl font-medium second_font text_dark">
      Featured News
    </h2>
    <p class="mt-3">
      Discover the latest news, research findings, and achievements from the
      University of Ibadan's Department of Computer Science.
    </p>

    <p class="mt-3">
      Our department is committed to advancing the field of computer science
      through research, teaching, and community engagement.
    </p>
  </li>
  <li>
    <img
      src="https://nacos.org.ng/img/feature.jpg"
      alt="Hackathon event"
      loading="lazy"
    />

    <article>
      <h3 class="article_title font-semibold">Unibadan CS News</h3>

      <p class="text-xl font-semibold mt-2">
        Showcase of Innovation and Creativity at Annual Hackathon Event
      </p>

      <small class="text-gray-400 mt-2">8th June, 2021</small>
    </article>
  </li>
  <li>
    <img
      src="https://images.pexels.com/photos/2599244/pexels-photo-2599244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="AI robot"
      loading="lazy"
    />
    <article>
      <h3 class="article_title font-semibold">Unibadan CS News</h3>

      <p class="text-xl font-semibold mt-2">
        AI is one of the most exciting and rapidly growing fields in computer
        science.
      </p>

      <small class="text-gray-400 mt-2">8th June, 2021</small>
    </article>
  </li>
  <li>
    <img
      src="https://images.pexels.com/photos/2696299/pexels-photo-2696299.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="Human-Computer Interaction"
      loading="lazy"
    />
    <article>
      <h3 class="article_title font-semibold">Unibadan CS News</h3>

      <p class="text-xl font-semibold mt-2">
        Evaluating user-interfaces and Improving user experience with
        Human-Computer Interaction
      </p>

      <small class="text-gray-400 mt-2">8th June, 2021</small>
    </article>
  </li>
</ul>

<!-- Research areas -->
<section
  class="px-5 sm:px-10 md:px-20 xl:px-40 px-5 sm:px-10 md:px-20 xl:px-40 third_bg_color py-14"
>
  <h2 class="text-2xl md:text-4xl font-medium second_font text_dark">
    Research Areas
  </h2>

  <ul class="research_areas mt-10">
    <li>
      <img
        src="https://cdn-icons-png.flaticon.com/128/820/820875.png"
        alt="AI & Machine Learning"
      />
      <h3>AI & Machine Learning</h3>
    </li>

    <li>
      <img
        src="https://cdn-icons-png.flaticon.com/128/4962/4962890.png"
        alt="Computing Education"
      />
      <h3>Computing Education</h3>
    </li>

    <li>
      <img
        src="https://cdn-icons-png.flaticon.com/128/2906/2906274.png"
        alt="Data & Databases"
      />
      <h3>Data & Databases</h3>
    </li>

    <li>
      <img
        src="https://cdn-icons-png.flaticon.com/128/1457/1457331.png"
        alt="human computer interaction"
      />
      <h3>human computer interaction</h3>
    </li>

    <li>
      <img
        src="https://cdn-icons-png.flaticon.com/128/7069/7069924.png"
        alt="Programming Languages"
      />
      <h3>Programming Languages</h3>
    </li>

    <li>
      <img
        src="https://cdn-icons-png.flaticon.com/128/900/900618.png"
        alt="Scientific & High Performance Computing"
      />
      <h3>Scientific & High Performance Computing</h3>
    </li>

    <li>
      <img
        src="https://cdn-icons-png.flaticon.com/128/9305/9305711.png"
        alt="Security & Privacy"
      />
      <h3>Security & Privacy</h3>
    </li>

    <li>
      <img
        src="https://cdn-icons-png.flaticon.com/128/1935/1935955.png"
        alt="Systems, Architecture & Networking"
      />
      <h3>Systems, Architecture & Networking</h3>
    </li>

    <li>
      <img
        src="https://cdn-icons-png.flaticon.com/128/7426/7426910.png"
        alt=""
      />
      <h3>Theory</h3>
    </li>

    <li>
      <img
        src="https://cdn-icons-png.flaticon.com/128/9692/9692428.png"
        alt="Visual Computing"
      />
      <h3>Visual Computing</h3>
    </li>
  </ul>
</section>

<!-- Research Highlights -->
<ul
  class="px-5 sm:px-10 md:px-20 xl:px-40 px-5 sm:px-10 md:px-20 xl:px-40 my-20 research_highlights"
>
  <li>
    <h2 class="text-2xl md:text-4xl font-medium second_font text_dark">
      Research Highlights
    </h2>

    <p class="mt-3">
      Here you will find the latest research highlights in computer science,
      including breakthroughs in artificial intelligence, computer networks,
      cybersecurity, and more.
    </p>
  </li>

  <li>
    <div>
      <img
        src="https://images.unsplash.com/photo-1617839625591-e5a789593135?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
        alt="Quantum computing"
        loading="lazy"
      />
    </div>

    <article>
      <h3 class="text-xl font-bold">Quantum computing</h3>

      <p class="mt-2">
        Quantum computing uses quantum mechanics to process data with qubits,
        which can exist in multiple states simultaneously and be entangled with
        each other...
      </p>

      <p class="text-sm cursor-pointer font-semibold article_title mt-5">
        Learn More
      </p>
    </article>
  </li>

  <li>
    <div>
      <img
        src="https://images.unsplash.com/photo-1551288049-bebda4e38f71?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        alt="Data science"
        loading="lazy"
      />
    </div>

    <article>
      <h3 class="text-xl font-bold">Data Science</h3>

      <p class="mt-2">
        Data science is a field that uses statistical and computational
        techniques to extract insights and knowledge from data. It involves
        collecting, cleaning, and analyzing large datasets...
      </p>

      <p class="text-sm cursor-pointer font-semibold article_title mt-5">
        Learn More
      </p>
    </article>
  </li>
</ul>

<!-- blue section -->
<section class="px-5 sm:px-10 md:px-20">
  <div
    class="mt-5 section_cut blue_bg max-w-6xl mx-auto p-8 flex flex-col md:flex-row items-start md:items-center gap-5"
  >
    <h2 class="font-bold text-xl md:text-2xl mr-5 capitalize">
      Cutting-edge
      <br class="hidden md:block" />
      curriculum
    </h2>

    <p class="flex-1">
      Are you ready to take your skills to the next level and advance your
      career in Computer Science? We offer a diverse range of courses and
      programs designed to meet the needs of both aspiring and experienced
      professionals in the field.
    </p>

    <a
      asp-area=""
      asp-controller="Curriculum"
      asp-action="Index"
      class="link_btn link"
    >
      <span> Our Curriculum </span>
      <svg
        class="button-arrow"
        width="14"
        height="10"
        viewBox="0 0 10 10"
        aria-hidden="true"
      >
        <g>
          <path class="button-arrow__line" d="M0 5h12"></path>
          <path class="button-arrow__tip" d="M1 1l4 4-4 4"></path>
        </g>
      </svg>
    </a>
  </div>
</section>

<!-- diversity region -->
<section
  class="px-5 sm:px-10 md:px-20 xl:px-40 mt-20 second_bg_color grid md:grid-cols-2 gap-y-10 py-16 preamble gap-5"
>
  <div class="md:order-2">
    <img
      src="https://images.pexels.com/photos/8556337/pexels-photo-8556337.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      width="100%"
      alt="students"
      loading="lazy"
    />
  </div>

  <div class="space-y-4">
    <h2 class="text-2xl md:text-4xl font-medium second_font text_dark">
      Equity, Diversity, & Inclusion at Unibadan CS
    </h2>

    <p>
      At the Department of Computer Science, University of Ibadan, we are
      committed to creating an environment that is diverse, equitable, and
      inclusive. We recognize that diversity in all its forms, including race,
      gender, ethnicity, age, religion, and ability, is a strength that
      contributes to a richer and more dynamic learning and working community.
      We are dedicated to promoting equal opportunities and respect for all
      members of our community, and strive to ensure that our policies,
      programs, and practices are inclusive and accessible to everyone. We
      believe that a commitment to equity, diversity, and inclusion is essential
      to promoting creativity, innovation, and excellence in our academic
      pursuits and beyond.
    </p>
  </div>
</section>

<!--New, events, videos  -->
<section
  class="px-5 sm:px-10 md:px-20 xl:px-40 py-20 grid lg:grid-cols-3 gap-y-10 gap-x-5 third_bg_color"
>
  <!-- NEWS -->
  <article class="NEV_article">
    <h2 class="text-2xl md:text-4xl font-medium second_font text_dark mb-10">
      News
    </h2>

    <img
      src="https://images.pexels.com/photos/2599244/pexels-photo-2599244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="AI robot"
      loading="lazy"
    />

    <header class="mt-5 mb-10">
      <h3 class="article_title_deep font-bold uppercase">Unibadan CS News</h3>

      <p class="text-xl md:text-2xl font-bold capitalize text_dark">
        AI is one of the most rapidly growing fields in computer science.
      </p>

      <small class="text-gray-500 text-base">Feb 12, 2023</small>
    </header>

    <ul class="NEV_content space-y-5">
      <li>
        <img
          src="https://images.pexels.com/photos/6930596/pexels-photo-6930596.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="AI robot"
          loading="lazy"
        />

        <div class="mt-5">
          <h3 class="article_title_deep text-sm font-bold uppercase">
            Unibadan CS News
          </h3>

          <p class="font-bold capitalize text_dark">
            Evaluating User-Interfaces And Improving User Experience With
            Human-Computer Interaction
          </p>

          <small class="text-gray-500">Feb 12, 2023</small>
        </div>
      </li>

      <li>
        <img
          src="https://nacos.org.ng/images/IMG_0323.JPG"
          alt="prize giving"
          loading="lazy"
        />

        <div class="mt-5">
          <h3 class="article_title_deep text-sm font-bold uppercase">
            Unibadan CS News
          </h3>

          <p class="font-bold capitalize text_dark">
            Winners of the 2022 Unibadan CS Hackathon prize giving by the Dean
            of the Faculty of Science, Prof. Olu
          </p>

          <small class="text-gray-500">Dec 12, 2022</small>
        </div>
      </li>
    </ul>
  </article>

  <!-- Events -->
  <article class="NEV_article">
    <h2 class="text-2xl md:text-4xl font-medium second_font text_dark mb-10">
      Events
    </h2>

    <img
      src="https://nacos.org.ng/images/IMG-20210310-WA0017.jpg"
      alt="women_in_tech"
      loading="lazy"
    />

    <header class="mt-5 mb-10">
      <h3 class="article_title_deep font-bold uppercase">Upcoming Events</h3>

      <p class="text-xl md:text-2xl font-bold capitalize text_dark">
        Women in tech conference 2023: Empowering women to shape the future of
        technology
      </p>

      <small class="text-gray-500 text-base">Feb 12, 2023</small>
    </header>

    <ul class="NEV_content space-y-5">
      <li>
        <aside class="font-semibold -space-y-1">
          <span class="text-sm second_font">Aug</span>
          <span class="text-2xl second_font">25</span>
        </aside>

        <div class="mt-5">
          <h3 class="article_title_deep text-sm font-bold uppercase">
            Upcoming Events
          </h3>

          <p class="font-bold capitalize text_dark">
            Hackathon: Organize a hackathon where students can come together to
            develop innovative projects, work collaboratively, and compete for
            prizes.
          </p>

          <small class="text-gray-500">Feb 12, 2023</small>
        </div>
      </li>

      <li>
        <aside class="font-semibold -space-y-1">
          <span class="text-sm second_font">Dec</span>
          <span class="text-2xl second_font">10</span>
        </aside>

        <div class="mt-5">
          <h3 class="article_title_deep text-sm font-bold uppercase">
            Upcoming Events
          </h3>

          <p class="font-bold capitalize text_dark">
            Game Development Competition: Challenge students to develop creative
            and engaging games, and organize a competition to showcase the best
            entries.
          </p>

          <small class="text-gray-500">Feb 12, 2023</small>
        </div>
      </li>
    </ul>
  </article>

  <!-- Video -->
  <article class="NEV_article">
    <h2 class="text-2xl md:text-4xl font-medium second_font text_dark mb-10">
      Videos
    </h2>

    <img
      src="https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dGVjaHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
      alt="Globe"
      loading="lazy"
    />

    <header class="mt-5 mb-10">
      <h3 class="article_title_deep font-bold uppercase">Video</h3>

      <p class="text-xl md:text-2xl font-bold capitalize text_dark">
        Dr. Ade Williams discusses the future of artificial intelligence and its
        potential impact on society.
      </p>

      <small class="text-gray-500 text-base">Feb 12, 2023</small>
    </header>

    <ul class="NEV_content space-y-5">
      <li>
        <img
          src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHNjaG9vbCUyMHRlY2h8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
          alt="school tech"
          loading="lazy"
        />

        <div class="mt-5">
          <h3 class="article_title_deep text-sm font-bold uppercase">Video</h3>

          <p class="font-bold capitalize text_dark">
            Code.org: What Most Schools Don't Teach" - Video on importance of
            learning to code
          </p>

          <small class="text-gray-500">Feb 12, 2023</small>
        </div>
      </li>

      <li>
        <img
          src="https://images.unsplash.com/photo-1547190027-9156686aa2f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YWxnb3JpdGhtfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt="algorithms"
          loading="lazy"
        />

        <div class="mt-5">
          <h3 class="article_title_deep text-sm font-bold uppercase">Video</h3>

          <p class="font-bold capitalize text_dark">
            "The Power of Algorithms" by Kevin Slavin - TED talk on algorithms'
            influence on the world
          </p>

          <small class="text-gray-500">Feb 12, 2023</small>
        </div>
      </li>
    </ul>
  </article>
</section>

<!-- Academics -->
<section class="px-5 sm:px-10 md:px-20 xl:px-40 my-20">
  <h2 class="text-2xl md:text-4xl font-medium second_font text_dark">
    Academics
  </h2>

  <div class="grid lg:grid-cols-3 gap-y-10 gap-x-5 mt-10">
    <!-- undergraduate -->
    <article class="NEV_article">
      <div>
        <img src="https://nacos.org.ng/images/nn6.jpg" loading="lazy" />
      </div>

      <header class="mt-5 mb-10 space-y-2">
        <h3 class="text_dark text-xl md:text-2xl font-bold">Undergraduate</h3>

        <p class="capitalize">
          BSC degrees that prepare students for graduate study or careers in
          computing, technology, and related fields.
        </p>

        <!-- onclick go to programs page and section masters -->
        <a
          href="javascript:void(0)"
          onclick="window.location.href = 'Programs#undergraduate';"
          class="link block"
        >
          <span>Learn More </span>
          <svg
            class="button-arrow"
            width="14"
            height="10"
            viewBox="0 0 10 10"
            aria-hidden="true"
          >
            <g>
              <path class="button-arrow__line" d="M0 5h12"></path>
              <path class="button-arrow__tip" d="M1 1l4 4-4 4"></path>
            </g>
          </svg>
        </a>
      </header>
    </article>

    <!-- Masters Program -->
    <article class="NEV_article">
      <div>
        <img
          src="https://images.pexels.com/photos/5905954/pexels-photo-5905954.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="Masters"
          loading="lazy"
        />
      </div>

      <header class="mt-5 mb-10 space-y-2">
        <h3 class="text_dark text-xl md:text-2xl font-bold">Postgraduate</h3>

        <p class="capitalize">
          Graduate Degrees Designed to Prepare Students for Advanced Careers in
          Computing, Technology, and Related Fields.
        </p>

        <a
          href="javascript:void(0)"
          onclick="window.location.href = 'Programs#masters';"
          class="link block"
        >
          <span>Learn More </span>
          <svg
            class="button-arrow"
            width="14"
            height="10"
            viewBox="0 0 10 10"
            aria-hidden="true"
          >
            <g>
              <path class="button-arrow__line" d="M0 5h12"></path>
              <path class="button-arrow__tip" d="M1 1l4 4-4 4"></path>
            </g>
          </svg>
        </a>
      </header>
    </article>

    <!-- PHD program -->
    <article class="NEV_article">
      <div>
        <img
          src="https://images.pexels.com/photos/2517759/pexels-photo-2517759.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="phd graduate"
          loading="lazy"
        />
      </div>

      <header class="mt-5 mb-10 space-y-2">
        <h3 class="text_dark text-xl md:text-2xl font-bold">PhD Degree</h3>

        <p class="capitalize">
          Our faculty provides personalized mentoring and guidance to prepare
          students to become leading researchers, innovators, and educators.
        </p>

        <a
          href="javascript:void(0)"
          onclick="window.location.href = 'Programs#phd';"
          class="link block"
        >
          <span>Learn More </span>
          <svg
            class="button-arrow"
            width="14"
            height="10"
            viewBox="0 0 10 10"
            aria-hidden="true"
          >
            <g>
              <path class="button-arrow__line" d="M0 5h12"></path>
              <path class="button-arrow__tip" d="M1 1l4 4-4 4"></path>
            </g>
          </svg>
        </a>
      </header>
    </article>
  </div>
</section>
