@{
    ViewData["Title"] = "Home";
}

<div class="hero home flex justify-center text-white px-5 sm:px-10 md:px-20">
    <div class="mt-32 md:mt-52 max-w-lg sm:max-w-xl lg:max-w-4xl text-center">
        <h1 class="capitalize font-bold text-2xl sm:text-4xl md:text-5xl lg:text-6xl title_text">
            <p>
                Welcome to the department
            </p>
            <p class="mt-1 md:mt-3">
                of Computer Science
            </p>
        </h1>
        <ul class=" dynamic_texts mt-5 text-sm sm:text-base md:text-lg lg:text-xl">
            <li>Where technology and innovation meet.</li>
        </ul>
    </div>
</div>

<div>
    @* <h1 class="display-4 text-red-500">Hi</h1> *@
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"></p> *@
    <p>
        This is a simple application to demonstrate the use of the asp.net core framework.
    </p>
</div>
