@{
    ViewData["Title"] = "Home";
}

<div class="text-justify">
    <h1 class="display-4 text-red-500">Welcome</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"></p> *@
    <p>
        This is a simple application to demonstrate the use of the asp.net core framework.
    </p>
</div>
