@{ ViewData["Title"] = "Home"; } @* hero section *@
<header class="hero home flex justify-center text-white px-5 sm:px-10 md:px-20">
  <div class="mt-32 md:mt-56 text-center">
    <h1
      class="capitalize text-2xl sm:text-3xl md:text-4xl lg:text-6xl font-medium second_font text-white"
    >
      <p>Welcome to the department</p>
      <p class="mt-1 md:mt-3">of Computer Science</p>
    </h1>

    @* dynamic texts *@
    <div class="mt-2 md:mt-5 flex justify-center">
      <div>
        <span
          class="dynamic_texts text-sm sm:text-base md:text-lg lg:text-xl"
        ></span>
        <div class="typing_cursor"></div>
      </div>
    </div>

    @* buttons *@
    <div class="mt-5 md:mt-10 flex items-center justify-center gap-3">
      <button href="" class="main_btn filled" id="learnMore">Learn more</button>
      <a
        asp-area=""
        asp-controller="Programs"
        asp-action="Index"
        class="main_btn transparent"
      >
        View Programs
      </a>
    </div>
  </div>
</header>

<section class="px-5 sm:px-10 md:px-20">
  <div class="mt-5 section_cut max-w-6xl mx-auto p-8">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
    laudantium vero vitae nihil velit asperiores ab omnis. At dignissimos beatae
    obcaecati. Fugiat temporibus magnam hic nihil enim blanditiis sed facere.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita commodi,
    velit praesentium fugiat numquam cum non error asperiores laudantium, aut
    pariatur soluta a fuga at porro quia unde labore. Voluptatum!
  </div>
</section>

<section
  class="px-5 sm:px-10 md:px-20 xl:px-40 my-16 second_bg_color grid md:grid-cols-2 gap-y-10 py-16 preamble"
>
  <div>
    <img src="~/images/students.jpg" width="100%" alt="students" />
  </div>
  <div class="space-y-4">
    <h2 class="text-2xl md:text-4xl font-medium second_font">
      Welcome to UI Computer Science.
    </h2>
    <p>
      The University of Ibadan is a premier institution for computer science
      education. Here, students and faculty can explore the latest developments
      in the field, from theory to practical applications. They can work at the
      intersection of computer science and other disciplines, including the
      social and physical sciences, policy, business, and biomedicine, benefit
      from the diverse and vibrant city of Ibadan, and make an immediate impact,
      both locally and globally.
    </p>
    <div>
      <a href="" class="link block">
        <span> An Expanding, Award-Winning CS Faculty </span>
        <svg
          class="button-arrow"
          width="14"
          height="10"
          viewBox="0 0 10 10"
          aria-hidden="true"
        >
          <g>
            <path class="button-arrow__line" d="M0 5h12"></path>
            <path class="button-arrow__tip" d="M1 1l4 4-4 4"></path>
          </g>
        </svg>
      </a>

      <a href="" class="link block">
        <span> An Expanding, Award-Winning CS Faculty </span>
        <svg
          class="button-arrow"
          width="14"
          height="10"
          viewBox="0 0 10 10"
          aria-hidden="true"
        >
          <g>
            <path class="button-arrow__line" d="M0 5h12"></path>
            <path class="button-arrow__tip" d="M1 1l4 4-4 4"></path>
          </g>
        </svg>
      </a>

      <a href="" class="link block">
        <span> An Expanding, Award-Winning CS Faculty </span>
        <svg
          class="button-arrow"
          width="14"
          height="10"
          viewBox="0 0 10 10"
          aria-hidden="true"
        >
          <g>
            <path class="button-arrow__line" d="M0 5h12"></path>
            <path class="button-arrow__tip" d="M1 1l4 4-4 4"></path>
          </g>
        </svg>
      </a>
    </div>
  </div>
</section>

<ul class="news_section px-5 sm:px-10 md:px-20 xl:px-40 my-20">
  <li>
    <h2 class="text-2xl md:text-4xl font-medium second_font">Featured News</h2>
    <p class="mt-3">
      Discover the latest news, research findings, and achievements from the
      University of Ibadan's Department of Computer Science.
    </p>

    <p class="mt-3">
      Our department is committed to advancing the field of computer science
      through research, teaching, and community engagement.
    </p>
  </li>
  <li>
    <img
      src="https://images.pexels.com/photos/5935787/pexels-photo-5935787.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="Hacker"
      loading="lazy"
    />

    <article>
      <h3 class="article_title">Unibadan CS News</h3>

      <p class="text-xl font-semibold mt-2">
        increasing prevalence of cyber attacks, research in cybersecurity has
        become more important
      </p>

      <small class="text-gray-400 mt-2">8th June, 2021</small>
    </article>
  </li>
  <li>
    <img
      src="https://images.pexels.com/photos/2599244/pexels-photo-2599244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="AI robot"
      loading="lazy"
    />
    <article>
      <h3 class="article_title">Unibadan CS News</h3>

      <p class="text-xl font-semibold mt-2">
        AI is one of the most exciting and rapidly growing fields in computer
        science.
      </p>

      <small class="text-gray-400 mt-2">8th June, 2021</small>
    </article>
  </li>
  <li>
    <img
      src="https://images.pexels.com/photos/2696299/pexels-photo-2696299.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="Human-Computer Interaction"
      loading="lazy"
    />
    <article>
      <h3 class="article_title">Unibadan CS News</h3>

      <p class="text-xl font-semibold mt-2">
        Evaluating user-interfaces and Improving user experience with
        Human-Computer Interaction
      </p>

      <small class="text-gray-400 mt-2">8th June, 2021</small>
    </article>
  </li>
</ul>
