@{ ViewData["Title"] = "Programs"; }

<header class="hero programs flex text-white px-5 sm:px-10 md:px-20 relative">
  <div
    class="absolute hero_intro md:mt-80 second_font text-3xl md:text-4xl lg:text-6xl break-all"
  >
    Programs
  </div>
</header>

<!-- undergraduate -->
<section
  class="px-5 sm:px-10 md:px-20 xl:px-40 py-20 grid md:grid-cols-2 gap-y-10 py-16 preamble"
  id="undergraduate"
>
  <div>
    <img
      src="https://images.pexels.com/photos/5940845/pexels-photo-5940845.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      width="100%"
      alt="undergraduate students"
    />
  </div>
  <div class="space-y-4">
    <h2 class="text-2xl md:text-4xl font-medium second_font text_dark">
      Undergraduate (BSc)
    </h2>

    <p class="mb-3">
      The undergraduate program in Computer Science at the University of Ibadan
      provides students with a comprehensive understanding of computing
      principles and practices. The curriculum covers diverse topics, and
      students have opportunities to gain hands-on experience through research
      projects and internships.
    </p>

    <p class="mb-5">
      Graduates of the program are well-prepared for further studies or careers
      in the computing industry. They are in high demand by employers in various
      sectors, and their degree from the University of Ibadan positions them to
      make significant contributions to the advancement of the industry and
      society.
    </p>

    <div>
      <a
        asp-area=""
        asp-controller="Curriculum"
        asp-action="Index"
        class="link block"
      >
        <span> Our Courses </span>
        <svg
          class="button-arrow"
          width="14"
          height="10"
          viewBox="0 0 10 10"
          aria-hidden="true"
        >
          <g>
            <path class="button-arrow__line" d="M0 5h12"></path>
            <path class="button-arrow__tip" d="M1 1l4 4-4 4"></path>
          </g>
        </svg>
      </a>
    </div>
  </div>
</section>

<!-- Postgraduate MSc -->
<section
  class="px-5 sm:px-10 md:px-20 xl:px-40 py-20 grid md:grid-cols-2 gap-y-10 py-16 preamble second_bg_color"
  id="masters"
>
  <div class="md:order-2">
    <img
      src="https://images.pexels.com/photos/5905956/pexels-photo-5905956.jpeg?auto=compress&cs=tinysrgb&w=600"
      width="100%"
      alt="master woman"
    />
  </div>
  <div class="space-y-4">
    <h2 class="text-2xl md:text-4xl font-medium second_font text_dark">
      Postgraduate (MSc)
    </h2>

    <p class="mb-3">
      The Master's program in Computer Science at the University of Ibadan
      provides students with advanced knowledge and skills in computing
      principles and practices. The curriculum covers a wide range of topics
      including advanced algorithms, artificial intelligence, and machine
      learning. The faculty members are highly experienced and qualified, and
      the department has world-class facilities to support students' learning.
    </p>

    <p class="mb-5">
      The program provides students with opportunities to participate in
      cutting-edge research and internships to gain practical experience.
      Graduates of the program are well-prepared for various careers in the
      computing industry or further studies at the Ph.D. level. They are in high
      demand by employers in various sectors, and their degree from the
      University of Ibadan positions them to make significant contributions to
      the industry and society.
    </p>
  </div>
</section>

<!-- professional MSc -->
<section
  class="px-5 sm:px-10 md:px-20 xl:px-40 py-20 grid md:grid-cols-2 gap-y-10 py-16 preamble"
>
  <div>
    <img
      src="https://media.gettyimages.com/id/950514452/photo/engineer.jpg?s=612x612&w=0&k=20&c=G8Blb3mzohi4De9dsmW1iOlRYY8vmIhx8zrVbRWV3BM="
      width="100%"
      alt="master woman"
    />
  </div>
  <div class="space-y-4">
    <h2 class="text-2xl md:text-4xl font-medium second_font text_dark">
      Professional MSc in Business Computing (MBC)
    </h2>

    <p class="mb-3">
      The Professional MSc in Business Computing (MBC) is a flexible program
      that provides professionals with practical skills and knowledge to succeed
      in the fast-paced world of business computing. With expert faculty,
      state-of-the-art resources, and a tailored curriculum, students gain
      comprehensive insights into the field's applications across industries.
    </p>

    <p class="mb-5">
      The MBC program enables professionals to achieve their career goals
      without sacrificing their personal and work commitments. Whether seeking
      to enhance current skills or transition to a new career in business
      computing, the MBC program is an ideal choice.
    </p>
  </div>
</section>

<!-- M.phil -->
<section
  class="px-5 sm:px-10 md:px-20 xl:px-40 py-20 grid md:grid-cols-2 gap-y-10 py-16 preamble third_bg_color"
>
  <div class="md:order-2">
    <img
      src="https://media.gettyimages.com/id/656294311/vector/world-map-illustration.jpg?s=612x612&w=0&k=20&c=j5FoS8eFSbUa6HtNtFwuz8usy4-RpXd10Ft9IPlL0QE="
      width="100%"
    />
  </div>
  <div class="space-y-4">
    <h2 class="text-2xl md:text-4xl font-medium second_font text_dark">
      The Master of Philosophy
    </h2>

    <p class="mb-3">
      The M.Phil degree in Computer Science at the University of Ibadan is
      designed to provide students with a solid foundation in computer science
      research. Our program equips students with the skills and knowledge they
      need to conduct cutting-edge research in areas such as artificial
      intelligence, data science, cybersecurity, and software engineering.
    </p>

    <p class="mb-5">
      With access to world-class facilities and resources, our students work
      closely with renowned faculty members to develop their research skills and
      produce original and impactful research. Our program prepares students for
      a wide range of careers in academia, research, and industry, providing
      them with the tools and expertise they need to succeed in their chosen
      field. If you are looking for a challenging and rewarding M.Phil program
      in computer science, we invite you to explore our website and learn more
      about what we have to offer.
    </p>
  </div>
</section>

<!-- PhD -->
<section
  class="px-5 sm:px-10 md:px-20 xl:px-40 py-20 grid md:grid-cols-2 gap-y-10 py-16 preamble"
  id="phd"
>
  <div>
    <img
      src="https://images.pexels.com/photos/2517759/pexels-photo-2517759.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      width="100%"
      alt="phd graduate"
    />
  </div>
  <div class="space-y-4">
    <h2 class="text-2xl md:text-4xl font-medium second_font text_dark">
      PhD degree
    </h2>

    <p class="mb-3">
      The PhD program in Computer Science at the University of Ibadan is
      designed to provide students with a rigorous and comprehensive education
      in the field of computer science. Our program prepares students to become
      leading researchers, innovators, and educators in cutting-edge areas such
      as artificial intelligence, data science, cybersecurity, and software
      engineering.
    </p>

    <p class="mb-5">
      With access to state-of-the-art facilities and resources, our students are
      well-equipped to make significant contributions to the advancement of the
      field. Our renowned faculty members are committed to providing
      personalized mentoring and guidance to students throughout their PhD
      journey, helping them to develop the skills and knowledge they need to
      succeed in their chosen research area. If you are looking for a
      challenging and rewarding PhD program in computer science, we invite you
      to explore our website and learn more about what we have to offer.
    </p>
  </div>
</section>

<!-- gold section -->
<section class="px-5 sm:px-10 md:px-20 mb-20">
  <div
    class="mt-5 section_cut max-w-6xl mx-auto p-8 flex flex-col md:flex-row items-start md:items-center gap-5"
  >
    <h2 class="font-bold text-xl md:text-2xl mr-5 capitalize">
      Student
      <br class="hidden md:block" />
      Association
    </h2>

    <p class="flex-1">
      As the largest and most vibrant student association on campus, we are
      committed to promoting excellence and innovation in computer science
      education and research.
    </p>

    <a
      class="link_btn link"
      asp-area=""
      asp-controller="StdAssociation"
      asp-action="Index"
    >
      <span> Read More </span>
      <svg
        class="button-arrow"
        width="14"
        height="10"
        viewBox="0 0 10 10"
        aria-hidden="true"
      >
        <g>
          <path class="button-arrow__line" d="M0 5h12"></path>
          <path class="button-arrow__tip" d="M1 1l4 4-4 4"></path>
        </g>
      </svg>
    </a>
  </div>
</section>
